<div
  class="w-16 sidebar-bg flex flex-col justify-between items-center py-4 space-y-6"
>
  <div class="">
    <div class="bg-gray-700 p-2 rounded-lg">
      <i class="fas fa-home text-gray-300"></i>
    </div>
    <div class="p-2 rounded-lg sidebar-item cursor-pointer">
      <i class="fas fa-cog text-gray-400"></i>
    </div>
    <div class="p-2 rounded-lg sidebar-item cursor-pointer">
      <i class="fas fa-comments text-gray-400"></i>
    </div>
    <div class="p-2 rounded-lg sidebar-item cursor-pointer">
      <i class="fas fa-users text-gray-400"></i>
    </div>
  </div>
  <div class="mt-auto space-y-4">
    <div class="p-2 rounded-lg sidebar-item cursor-pointer">
      <i class="fas fa-search text-gray-400"></i>
    </div>
    <div class="p-2 rounded-lg sidebar-item cursor-pointer">
      <i class="fas fa-user text-gray-400"></i>
    </div>
  </div>
</div>
